/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    width: 0vw;
    height: 0vh;
    margin: 0;
}

/*Fente: font-family: "Inter", sans-serif;*/

$rojo_claro: rgba(255, 0, 0, 1);
$rojo_oscuro: rgba(86, 0, 0, 1);
$gris: rgb(97, 97, 97);
$oscuro: rgb(34, 34, 34);
$claro: rgb(255, 255, 255);
$azul_claro: hsl(194, 100%, 50%);
$azul_oscuro: rgb(0, 82, 93);
$amarillo_llama:rgba(255, 199, 0, 1);
$azul_llama: rgba(0, 35, 61, 1);
$naranja_llama: rgba(255, 92, 0, 1);
$azul_claro_rc: rgba(0, 194, 255, 1);
$azul_oscuro_rc: rgba(1, 0, 50, 1);
$purpura: hsl(241, 72%, 65%);

.no_disponibles{
    //Width correcto sin labarra de desplazamiento de la pagina
    //:D
    width: calc(100vw - 17px);
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    //Para centrar cosas en un body
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient($gris,$oscuro);

    .body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        height: 90vh;
        margin: auto;
        .info{
            width: 35%;
            height: 90%;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            li{
                width: 80%;
                height: 10%;
                color: $claro;
                margin: auto;
            }
            h3{
                width: 80%;
                height: 10%;
                color: $claro;
                margin: auto;
            }
            .boton{
                width: 50%;
                height: 15%;
                border-radius: 15px;
                color: $claro;
                background: $rojo_claro;
                margin: auto;
                border-style: none;
                font-size: 20px;
            }
        }


        .imagen{
            position: relative;
            width: 55%;
            height: 95%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            margin: auto;
            .debajo{
                width: 100%;
                height: 100%;
                border-radius: 25px;
                filter: grayscale(100%);
            }
            .encima{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                top: 0%; 
                left: 0%;
            }
        }
    }

    

}