/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    width: 0vw;
    height: 0vh;
    margin: 0;
}

/*Fente: font-family: "Inter", sans-serif;*/

$rojo_claro: rgba(255, 0, 0, 1);
$rojo_oscuro: rgba(86, 0, 0, 1);
$gris: rgb(97, 97, 97);
$oscuro: rgba(53, 53, 53, 1);
$claro: rgb(255, 255, 255);
$azul_claro: hsl(194, 100%, 50%);
$azul_oscuro: rgb(0, 82, 93);
$amarillo_llama:rgba(255, 199, 0, 1);
$azul_llama: rgba(0, 35, 61, 1);
$naranja_llama: rgba(255, 92, 0, 1);
$azul_claro_rc: rgba(0, 194, 255, 1);
$azul_oscuro_rc: rgba(1, 0, 50, 1);
$purpura: hsl(241, 72%, 65%);

.container{
    //Width correcto sin labarra de desplazamiento de la pagina
    //:D
    width: calc(100vw - 17px);
    min-height: 100vh;
    height: auto;
    font-family: "Inter", sans-serif;
    background: linear-gradient($purpura,$azul_claro);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .body{
        margin: 10vh auto;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .datos{
            width: 90%;
            height: 90vh;
            margin: 10vh auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            background: linear-gradient($gris,$oscuro);
            border-radius: 15px;
            .p1{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                width: 50%;
                height: 90%;
                margin: auto;
                p{ 
                    width: 90%;
                    height: 10%;
                    margin: auto;
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    color: white;
                    font-size: 35px;
                }

                img{
                    width:70%;
                    height: 70%;
                    margin: auto;
                }
            }

           
        }

        .boton{
            width: 35%;
            height: 15vh;
            margin: 5vh auto;
            background: linear-gradient($azul_claro,$azul_oscuro);
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: $claro;
            text-decoration: none;
            border-radius: 15px;
        }

        
    }
}